<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Employer View</title>

  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
<header>
  <div class="header-left">
    <img src="/images/logo.png"/><h3>Lawn Mower Hub 2</h3>
  </div>
    <div class="alert alert-success hide">
        <strong>Success!</strong> You are logged in as an Employer.
    </div>
  <div class="buttons">
    <a data-toggle="modal" id="loginbtn" data-target="#login">LOGIN</a>
    <a type="submit" class="btn btn-default" href="register">REGISTER</a>
  </div>
</header>
<section class="home-wrapper">
  <section class="row">
    <section class="emp-view col-lg-5">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Loaction</th>
            <th>Estimated Duration</th>
            <th>Salary</th>
            <th>Availability</th>
          </tr>
          </thead>
          <tbody>
          <tr data-toggle="modal" data-target="#myModal">
            <td>Kiel</td>
            <td>5 hours</td>
            <td>50 Euros</td>
            <td>15-17 April</td>
          </tr>
          <tr>
            <td>Kiel</td>
            <td>1 hours</td>
            <td>20 Euros</td>
            <td>10-15 April</td>
          </tr>
          <tr>
            <td>Kiel</td>
            <td>5 hours</td>
            <td>60 Euros</td>
            <td>15-17 April</td>
          </tr>
          <tr>
            <td>Kiel</td>
            <td>5 hours</td>
            <td>50 Euros</td>
            <td>15-17 April</td>
          </tr>
          <tr>
            <td>Kiel</td>
            <td>1 hours</td>
            <td>20 Euros</td>
            <td>10-15 April</td>
          </tr>
          <tr>
            <td>Kiel</td>
            <td>5 hours</td>
            <td>60 Euros</td>
            <td>15-17 April</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button type="button" onclick="postJobAuth()" class="btn btn-primary post-jobs">Post Jobs</button>
    </section>
    <section class="emp-view map-view col-lg-offset-1 col-lg-5">
      <div id="map"></div>
    </section>
  </section>
</section>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Job Details</h4>
      </div>
      <div class="modal-body">
        <p>Langensaal 43, 24149 Kiel</p>
        <p>Employer email id : abc@abc.com<p>
        <p>Date : 15th-17th April</p>
        <p>Payment : 50 Euros</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="myFunction()">Apply for Job</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
          </div>
        </form>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a type="button"  onclick="login()" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>
<script>
    function initMap() {
        var uluru = {lat: 54.32133, lng: 10.13489};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWfq_jYjVphy7iZ5Kc9_QaKeEboGQFOXk&callback=initMap">
</script>
<script>
    function myFunction() {
        alert("Please Login before Applying!");
    }
</script>
<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
    function login()
    {

      $.ajax
      ({

        type: "POST",
        url: "/authenticate",
        dataType: 'json',
        async: false,
        data: {

              "email": $('#exampleInputEmail1').val(),
              "password": $('#Password').val()
        },
        success: function (data , status) {
          if(data.success){
            localStorage.setItem("token", data.token);
            window.location = "/";
            $('#loginbtn').val('logout');
            $('#loginbtn').text('logout');


          }else{
            alert("authentication failed, please try again");
          }

        }
      });
    }

    function postJobAuth()
    {

      $.ajax
      ({

        type: "POST",
        url: "/checkToken",
        dataType: 'json',
        async: false,
        data: {

          "token": localStorage.getItem("token")
        },
        success: function (data , status) {



            if(data.validated == "yes") {
              window.location = "/employerworkdetails";
            } else{
              alert("please login first");
            }

        }

      });
    }


</script>

</body>

</html>
